{:format :kotoba.cljk-origin/v1
 :renamed-on "2026-09-11"
 :decision "adr-2609111500-cljk-rename-all-clojure-source (com-junkawasaki/root 90-docs/adr; owner instruction 2026-09-11)"
 :rule "value = the extension the file had before the rename. A path ending in .clj.cljk or .cljs.cljk kept it in the name because both platform files existed (or the plain target was taken)."
 :origins
 {"src/kami/modeling.cljk" ".cljc"
  "src/kami/modeling/assembly.cljk" ".cljc"
  "src/kami/modeling/brep.cljk" ".cljc"
  "src/kami/modeling/cae.cljk" ".cljc"
  "src/kami/modeling/collaboration.cljk" ".cljc"
  "src/kami/modeling/csg.cljk" ".cljc"
  "src/kami/modeling/document.cljk" ".cljc"
  "src/kami/modeling/drawing.cljk" ".cljc"
  "src/kami/modeling/feature_graph.cljk" ".cljc"
  "src/kami/modeling/large_scene.cljk" ".cljc"
  "src/kami/modeling/nurbs.cljk" ".cljc"
  "src/kami/modeling/sheet_metal.cljk" ".cljc"
  "src/kami/modeling/step.cljk" ".cljc"
  "test/kami/modeling_assembly_test.cljk" ".cljc"
  "test/kami/modeling_brep_test.cljk" ".cljc"
  "test/kami/modeling_cae_test.cljk" ".cljc"
  "test/kami/modeling_collaboration_test.cljk" ".cljc"
  "test/kami/modeling_crypto_test.cljk" ".clj"
  "test/kami/modeling_document_test.cljk" ".cljc"
  "test/kami/modeling_drawing_test.cljk" ".cljc"
  "test/kami/modeling_feature_graph_test.cljk" ".cljc"
  "test/kami/modeling_large_scene_test.cljk" ".cljc"
  "test/kami/modeling_nurbs_test.cljk" ".cljc"
  "test/kami/modeling_sheet_metal_test.cljk" ".cljc"
  "test/kami/modeling_step_test.cljk" ".cljc"
  "test/kami/modeling_test.cljk" ".cljc"
  "test/run_portable.cljk" ".cljs"}}
